.container{
    padding: 20px;
    padding-left: 0;
    font-family: "Noir Pro";
    font-size: 3rem;
    text-wrap: wrap;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76vw;
    text-align: center;
}

@media screen and (max-width: 431px) {
    .container{
        width: 100vw;
        font-size: 2rem;
        padding-left: 1rem;
    }
}