.container {
  display: flex;

}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 30px 10px;
  padding-left: 22%;
  background-color: #f9f9f9;
}

.Heading {
  display: flex;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: "Public Sans", sans-serif;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  padding-left: 20px;
}

.menuBtn{
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 3.2rem;
  background-color: transparent;
  border-radius: 100px;

  position: absolute;
  top: 1rem;
  left: 1rem;
}

.menuBtn:hover, .menuBtn:focus, .menuBtn:active{
  /* background-color: #fff; */
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);
}

@media screen and (max-width: 430px) {
  .Heading {
    /* padding-left: 4rem; */
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    padding-top: 0;
  }
  .right {
    padding-left: 0%;
  }
  .menuBtn{
    display: block;
    z-index: 2;
  }
}