.filtersidebar {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    width: 200px;
  }
  .buttons {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}