.form {
  display: flex;
  flex-direction: column;
}

.sub {
  background-color: rgb(249, 249, 249);
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 30px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 20px;
  padding: 20px;
}

.containerHeading {
  text-transform: capitalize;
  font-size: 30px;
}

.sectionContainerHeading {
  font-size: 28px;
  display: inline;
  border-bottom: 2px solid #adadad;
  padding-bottom: 3px;
}

.inputBox{
  margin: 20px 0;
}

.inputBox Label{
  font-size: 18px;
  font-weight: 600;
  color: #000;
}