.arrows {
    transition: all .3s;
    cursor: pointer;
    font-size: 4rem;
    color: #777;
    padding: .6rem;
    border-radius: 5rem;
}

.arrows:hover {
    background-color: #777;
    opacity: .4;
    color: #fff;
}