.container{
    padding: 20px;
    padding-left: 0;
    font-family: "Noir Pro";
    font-size: 3rem;
    text-wrap: wrap;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76vw;
}
