.mainBody {}

.button {
    width: 200px;
    height: 20px;
    background-color: #fff;

}

.Container {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.gridding{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    border: 1px solid #000;
    padding: 5px;
}

.Col1,.Col2,.Col3,.Col4{
    display: flex;
    flex-direction: column;
}

.Col1row2{
    width: 100%;
    height: 176px;
}

.Col1row5{
    width: 100%;
    height: 800px;
    background-color: #FFC800;
    /* margin-bottom: 1%; */
}

.Col1row1,.Col1row3,.Col1row4{
    width: 100%;
    height: 540px;
    flex-shrink: 0;
}


.Col2row1{
    width: 100%;

    position: absolute;
    top: 40%;
}


/* .image1 {
    height: 320px;
    width: 180px;
    right: 50px;
    bottom: 40px;
    position: absolute;
}

.Col2row2,.Col2row3,.Col2row6{
    width: 100%;
    height: 540px;
    flex-shrink: 0;
}

.Col2row4{
    height: 281px;
}

.Circle2 {
    position: absolute;
    left: -10px;
    bottom: -60px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #fff;
    z-index: ;
} */