.mainBody{

}

.button{
    
    width: 200px;
    height: 20px;
    background-color: #fff;
    
}
.Container{
    width: 50%;
    height: 50%;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.exploresec {
    display: none;
}

.image1{
    height: 320px;
    width: 180px;
    right: 50px;
    bottom: 40px;
    position:absolute;
}
.image2{
    height: 320px;
    width: 160px;
    left : 50px;
    bottom: 40px;
    position:absolute;
}
.Card1{
    width: 100%;
    height: 730px;
    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: linear-gradient(180deg, #36080A 0%, #9D262B 50%, #FF7474 100%);
}
.Card2{
    width: 100%;
    height: 730px;
    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    /* justify-content: center; */
    background: linear-gradient(180deg, #FF7474 0%, #9D262B 50%, #36080A 100%);
}

.head{
    display: flex;
    font-family: "Bevan";
    font-weight: 300;
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.Content{
    display: flex;
    font-family: "Bebas Neue";
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    padding: 60px;
    font-size: 24px;
    color: #fff;
    width: 100%;
    height: 80%;
    letter-spacing: 1.4px;
    word-wrap: break-word;
    line-height: 150%;
    text-transform: lowercase;
    justify-content:flex-start;
}

.Circle1{
    position: absolute;
    right: -10px;
    bottom: -60px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #fff;


}
.Circle2{
    position: absolute;
    left: -10px;
    bottom: -60px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #fff;
}


