.animepage {
    padding-top: 4vh;
    /* padding: 2rem 10rem; */
    height: 180vh;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.ani1 {
    border: 2px solid #000;
    width: 48vw;
    height: 70vh;
    position: absolute;
    left: 10vw;
}

.cont1 {
    width: 29vw;
    height: 70vh;
    border: 2px solid #000;
    transform: translate(-50%, 0);
    position: absolute;
    top: 35vh;
    left: 50%;
    z-index: 2;
    background-color: #fff;

    font-family: "Noir Pro";
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}

.ani2 {
    border: 2px solid #000;
    width: 28vw;
    height: 70vh;
    position: absolute;
    left: 55vw;
    top: 55vh;
}

.ani3 {
    border: 2px solid #000;
    width: 48vw;
    height: 70vh;
    position: absolute;
    top: 109vh;
    left: 10.5vw;
}

.cont2 {
    border: 2px solid #000;
    width: 24vw;
    height: 53vh;
    position: absolute;
    top: 126vh;
    left: 59vw;
    background-color: #fff;
    font-family: "Noir Pro";
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}

.explore_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;

    .exp_btn {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: "Noir Pro";
        padding: 10px;
        cursor: pointer;
        border: none;
        background-color: #D61B1B;
        color: #fff;
        letter-spacing: 1px;
    }
}





.a_hero{
    width: 100vw;
    height: 93vh;
    background-color: #e0b000;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .a_hero_text{
        text-align: center;
        color: #fff;
        /* font-size: 2.5rem; */
        font-family: 'Noir Pro';
        letter-spacing: 2px;
        p{
            font-weight: 300;
            font-size: 1.2rem;
            font-family: 'Bebas Neue';
            margin-bottom: 1.4rem;
        }
        h1{
            font-weight: 600;
            font-size: 3.5rem;
            text-transform: uppercase;
            font-family: 'Comic Hero';
        }
    }
}

.product {
    display: flex;
    margin: 30px;
    margin-top: 50px;
}

.product_imagediv {
    width: 60%;
    height: 500px;
}

.product_path {
    text-transform: uppercase;
    font-family: 'Noir Pro';
    letter-spacing: 2px;
    font-size: 13px;
    position: relative;
    bottom: 1rem;
}

.imagebox {
    height: 100%;
    width: auto;
}

.action {
    font-family: "Noir Pro";
    padding: 30px;
    padding-top: 0;
    width: 40%;

    .action_sz_add {
        border: 1px solid #C6C8CA;
        padding: .8rem;
        margin-top: 1.3rem;

        .sizechart {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            padding: 0px;
            margin-bottom: 5px;
        }

        .sizechart1 {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin: 0px;

            span {
                font-size: 12px;
                color: #656565;
                font-weight: 500;
            }
        }

        .sizechart2 {
            font-size: 13px;
        }

        .sizechart_bg {
            height: 100vh;
            width: 100vw;
            background-color: #13131377;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sizechart_table {
            background-color: white;
            border-radius: 1rem;
            border: 1px solid #C6C8CA;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50vw;
            top: 45vh;
        }

        .sizechart_close:hover {
            background-color: #e2e2e2 !important;
        }

        .addtocart {
            cursor: pointer;
            border: none;
            font-family: "Noir Pro";
            font-size: .8 rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .sellerCard {
        font-family: "Noir Pro";
        margin: 5px 0px;
        width: 100%;
        height: 4rem;
        border: 1px solid #C6C8CA;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sLogoName {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            font-size: 16px;

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        .priceButton {
            cursor: pointer;
            border: none;
            width: 30%;
            padding: 5px 10px;
            font-size: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            font-family: "Noir Pro";
        }
    }

    .features {
        margin-top: 2rem;
        font-family: "Noir Pro";
        font-size: 12px;
        color: #656565;
    }
}

.size {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    outline: none;
    border-color: #C6C8CA;
    font-family: "Noir Pro";
    padding: 5px 20px;
    appearance: none;
    background: url("../../assets/down-arrow.png") no-repeat right 20px center;
    background-size: 17px;
    font-size: 15px;
}

.productlist {
    margin: 25px;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    gap: 20px;
}

.cards::-webkit-scrollbar {
    display: none;
}


.carouselCards {
    margin-top: 0px !important;
}

.bestseller {
    color: #656565;
    background-color: rgb(238, 238, 238);
    padding: 5px 10px;
    margin: 10px 10px;
    letter-spacing: 2px;
    width: max-content;
}

.BuyNowBtn {
    background-color: #000;
    background-size: 0% 100%;
    transition: background-color .5s;
}

.BuyNowBtn:hover {
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .7) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 1s, background-color 1s;
}

.priceButton {
    background-color: #000;
    background-size: 0% 100%;
    transition: background-color .5s;
}

.priceButton:hover {
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .7) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size .7s, background-color .7s;
}

.ourCollection {
    margin: 30px;

    .ourCollection_heading {
        color: #131313;
        font-family: ProximaNova Medium;
        font-size: 24px;
        text-transform: capitalize;
        font-weight: 700;
        line-height: 32.4px;
        padding-left: 25px;
        text-transform: uppercase;
    }
    .ourCollection_content{
        font-family: "Noir Pro";
        color: #656565;
        width: 90%;
        padding: 15px;
        padding-left: 25px;
    }
}

.recent_blogs {
    color: white;
    line-height: 2rem;
    background-color: brown;
    background: url('../../assets/post_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 850px;
    padding: 50px;
    font-family: 'Bebas Neue';
}
.recent_blogs_title {
    font-size: 0.8rem;
}
.recent__blogs_container {
    padding: 20px;
}




@media screen and (max-width: 431px) {
    .a_hero{
        height: auto;
    }

    .main {
        margin: 0;
    }

    .container {
        width: 45vw;
        overflow-x: hidden;
    }

    .carouselCards {
        padding: 0;
        margin: 20px;
    }

    .product {
        padding-top: 10vh;
        margin: 0;
        display: flex;

        flex-direction: column;

        img {
            width: 100%;
            height: 30%;
            padding: 20px;
        }
    }

    .action {
        padding: 3px;
        width: 90vw;
        margin: auto;

        .size,
        .addtocart {
            margin-left: 0 !important;
            height: 3rem;
            margin: 5px;
            font-family: "Noir Pro";
        }

        .addtocart {
            border: none;
        }

        .sellerCard {
            margin-left: 0;
            margin-bottom: 10px;
            height: 3rem;
        }
    }

    .product_imagediv_phone {
        width: 100vw;
        height: 40vh;
        border: 1px solid #C6C8CA;
        padding: 1rem;
        margin-bottom: 1rem;

        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }

    .table {
        display: none;
    }

    .alsoLikeCards {
        margin: 20px;
        gap: none;
    }

    .AlsoLikeContainer {
        display: none !important;
    }

    .AlsoLikeSlider {
        padding-bottom: 5vh;
        margin: 0;
    }

    .sLogoName img {
        padding: .5rem;
    }

    .priceButton {
        width: max-content;
        border: none;
    }
}