.mainBody {}

.button {
    width: 200px;
    height: 20px;
    background-color: #fff;

}

.Container {
    width: 100%;
    height: 100%;
    position: relative;
}

.Container_first {
    width: 49.5%;
    height: 100%;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}

.exploresec {
    display: none;
}

.image1 {
    height: 320px;
    width: 180px;
    right: 50px;
    bottom: 40px;
    position: absolute;
}

.image2 {
    height: 320px;
    width: 160px;
    left: 50px;
    bottom: 40px;
    position: absolute;
}

.Card1 {
    width: 100%;
    height: 730px;
    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: linear-gradient(180deg, #36080A 0%, #9D262B 50%, #FF7474 100%);
}

.Card2 {
    width: 100%;
    height: 730px;
    padding-top: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 30px;
    /* justify-content: center; */
    background: linear-gradient(180deg, #FF7474 0%, #9D262B 50%, #36080A 100%);
}

.head {
    display: flex;
    font-family: "Bevan";
    font-weight: 300;
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.Content {
    display: flex;
    font-family: "Bebas Neue";
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    color: #fff;
    width: 100%;
    height: 80%;
    letter-spacing: 1.4px;
    word-wrap: break-word;
    line-height: 150%;
    text-transform: lowercase;
    justify-content: flex-start;
}

.Circle1 {
    position: absolute;
    right: -10px;
    bottom: -60px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #fff;


}

.Circle2 {
    position: absolute;
    left: -10px;
    bottom: -60px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #fff;
}

.animeBackdrop {
    width: 100%;
    height: 800px;
    background-color: #FFC800;
    /* margin-bottom: 1%; */
}

.back {
    width: 100%;
    height: 800px;
    position: absolute;
}

.yeah {
    height: auto;
    width: auto;
    right: 20%;
    top: 10%;
    position: absolute;
}

.bang {
    height: auto;
    width: auto;
    right: 20%;
    bottom: 14%;
    position: absolute;
}

.blastic {
    width: auto;
    height: auto;
}

.hallo {
    width: auto;
    height: auto;
    top: 65%;
    left: 20%;
    position: absolute;
}

.rCorner {
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.lCorner {
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    position: absolute;
}

.hi {
    width: auto;
    height: auto;
    left: 22%;
    top: 10%;
    position: absolute;
}

.title {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: "Comic Hero";
}

.subTitle {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    position: relative;
    font-family: "Bebas Neue";
    margin-bottom: 10px;

}

.red {
    width: 150px;
    height: 40px;
    position: relative;
    outline: none;
    border: none;
    background-color: #D61B1B;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    font-family: "Bebas Neue";
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    position: absolute;
    top: 40%;
}