.main {
    margin: 25px;
    padding-top: 30px;
}

.product {
    display: flex;
    margin: 30px;
}


.action {
    font-family: "Noir Pro";
    padding: 30px;
    padding-top: 0;
    width: 40%;

    .action_sz_add {
        border: 1px solid #C6C8CA;
        padding: .8rem;
        margin-top: 1.3rem;

        .sizechart {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 16px;
            padding: 0px;
            margin-bottom: 5px;
        }

        .sizechart1 {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            padding: 0px;
            margin: 0px;

            span {
                font-size: 12px;
                color: #656565;
                font-weight: 500;
            }
        }

        .sizechart2 {
            font-size: 13px;
        }

        .sizechart_bg {
            height: 100vh;
            width: 100vw;
            background-color: #13131377;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sizechart_table {
            background-color: white;
            border-radius: 1rem;
            border: 1px solid #C6C8CA;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50vw;
            top: 45vh;
        }

        .sizechart_close:hover {
            background-color: #e2e2e2 !important;
        }

        .addtocart {
            cursor: pointer;
            border: none;
            font-family: "Noir Pro";
            font-size: .8 rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .sellerCard {
        font-family: "Noir Pro";
        margin: 5px 0px;
        width: 100%;
        height: 4rem;
        border: 1px solid #C6C8CA;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sLogoName {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            font-size: 16px;

            img {
                width: 3rem;
                height: 3rem;
            }
        }

        .priceButton {
            cursor: pointer;
            border: none;
            width: 30%;
            padding: 5px 10px;
            font-size: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            font-family: "Noir Pro";
        }
    }

    .features {
        margin-top: 2rem;
        font-family: "Noir Pro";
        font-size: 12px;
        color: #656565;
    }
}

.carouselCards {
    margin-top: 0px !important;
}

.bestseller {
    color: #656565;
    background-color: rgb(238, 238, 238);
    padding: 5px 10px;
    margin: 10px 10px;
    letter-spacing: 2px;
    width: max-content;
}

.BuyNowBtn {
    background-color: #000;
    background-size: 0% 100%;
    transition: background-color .5s;
}

.BuyNowBtn:hover {
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .7) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size 1s, background-color 1s;
}

.priceButton {
    background-color: #000;
    background-size: 0% 100%;
    transition: background-color .5s;
}

.priceButton:hover{
    background-color: #1a1a1a;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .7) 100%);
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transition: background-size .7s, background-color .7s;
}

.product_imagediv {
    width: 60%;
    height: 500px;
}

.product_path {
    text-transform: uppercase;
    font-family: 'Noir Pro';
    letter-spacing: 2px;
    font-size: 13px;
    position: relative;
    bottom: 1rem;
}

.imagebox {
    height: 100%;
    width: auto;
}

.table {
    width: 750px;
    height: 200px;
    margin: 30px;
    display: flex;
    font-family: "Noir Pro";

    .column h5 {
        letter-spacing: 1px;
    }
}

.SampleBrand {
    color: #656565;
    font-family: ProximaNova Medium;
    margin: 5px 0;
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.SampleProduct {
    color: #131313;
    font-family: ProximaNova Medium;
    margin: 5px 0;
    font-size: 24px;
    font-weight: Bold;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.column {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-right: 1px solid #EFEFEF;
}

.size {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    outline: none;
    border-color: #C6C8CA;
    font-family: "Noir Pro";
    padding: 5px 20px;
    appearance: none;
    background: url("../../assets/down-arrow.png") no-repeat right 20px center;
    background-size: 17px;
    font-size: 15px;
}

.addtocart {
    width: 100%;
    height: 40px;
    margin: 5px 0px;
}


.cards {
    margin: 30px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    gap: 20px;
}

.cards::-webkit-scrollbar {
    display: none;
}


.description {
    margin: 30px;
    font-family: "Noir Pro";
}

.productDescTitle {
    color: #656565;
    font-family: ProximaNova Medium;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.productDesc {
    margin-top: 5px;
    font-size: 17px;
}

.AlsoLikeSlider,
.NewArrivalsSlider {
    margin: 30px;

}

.AlsoLikeSliderTitle {
    color: #131313;
    font-family: ProximaNova Medium;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 32.4px;
    padding-left: 25px;
}

.NewArrivalsSliderTitle {
    color: #131313;
    font-family: ProximaNova Medium;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 32.4px;
    padding-left: 25px;
}

.alsoLikeCards{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 431px) {
    .main {
        margin: 0;
    }

    .container {
        width: 45vw;
        overflow-x: hidden;
    }

    .carouselCards {
        padding: 0;
        margin: 20px;
    }

    .product {
        padding-top: 10vh;
        margin: 0;
        display: flex;

        flex-direction: column;

        img {
            width: 100%;
            height: 30%;
            padding: 20px;
        }
    }

    .action {
        padding: 3px;
        width: 90vw;
        margin: auto;

        .size,
        .addtocart {
            margin-left: 0 !important;
            height: 3rem;
            margin: 5px;
            font-family: "Noir Pro";
        }

        .addtocart {
            border: none;
        }

        .sellerCard {
            margin-left: 0;
            margin-bottom: 10px;
            height: 3rem;
        }
    }

    .product_imagediv_phone {
        width: 100vw;
        height: 40vh;
        border: 1px solid #C6C8CA;
        padding: 1rem;
        margin-bottom: 1rem;

        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;
    }

    .table {
        display: none;
    }

    .alsoLikeCards {
        margin: 20px;
        gap: none;
    }

    .AlsoLikeContainer {
        display: none !important;
    }

    .AlsoLikeSlider {
        padding-bottom: 5vh;
        margin: 0;
    }

    .sLogoName img {
        padding: .5rem;
    }

    .priceButton {
        width: max-content;
        border: none;
    }
}