@font-face {
    font-family: Noir Pro;
    src: url(../../assets/fonts/Noir-pro/NoirPro-Light.otf);
  }
.container {
    display: flex;
    flex-direction: column;
    height: 39rem;
    width: 30rem;
    border: 1px solid #DFE0E1;
    padding: 20px;
    box-sizing: border-box;
    gap: 0.6rem;
}
.shoes {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 28rem;
    width: 28rem;
}
.shoes__color{
    display: flex; 
    gap: 0.5rem;
}
.shoes__info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.shoes__data {
    display: flex;
    justify-content: space-between;
}
.shoes__tags {
    color: #727373;
    font-size: 0.6rem;
    font-weight: 400;
    font-family: 'Noir Pro';
    /* margin: 9px 0 9px 0; */
}
.shoes__tagline {
    color: #727373;
    font-size: 0.75rem;
    font-weight: 300;
    max-width: 70%;
    line-height: 1rem;
    font-family: 'Noir Pro',Regular;
}