.shoppage {
    display: flex;
    justify-content: space-between;
  }
  
  .productlist {
    width: calc(100% - 200px);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  