.cardContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  margin: 0 50px;
  padding: 0 20px;
  height: 80px;
  cursor: pointer;
}
.cardContainer:hover {
  border: 2px solid #dad1d1;
  box-shadow: 0 0 10px #f1ebeb;
  transition: 0.3s;
}
.image {
  width: 80px;
  height: 70px;
  border-radius: 10px;
  object-fit: contain;
}
.nameImage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
.date {
  font-size: 1rem;
}
.time {
  font-size: 0.8rem;
  font-weight: 500;
  color: #363535;
}
.priceDelete {
  display: flex;
  align-items: center;
  gap: 1rem;
}
