.Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.CenterBody {
  border: 1px solid black;
  padding: 30px 40px;
  width: 600px;
  margin: 20px;
}

.logo {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
}

.button {
  display: flex;
  padding: 14px 150px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;

  color: var(--Primary-Text, #fff);
  text-align: center;
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.mobile {
  display: flex;
  margin-top: 20px;
}

.error {
  color: red;
}

.OTPbutton {
  width: 30%;
  border-radius: 2px;
  background: #131313;
  color: white;
  border: none;
  padding: 8px 36px;
  letter-spacing: 1px;
  margin-top: 8px;
  cursor: pointer;
}

.Input {
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}